<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/exampage.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <title>Document</title>
  </head>

  <body>
    <div class="container-fluid pt-3 mb-3 text-center welcome_exam">
      <div class="row">
        <div class="col-3">
          <!-- <h4>Welcome <%- name %></h4> -->
          <h4>Welcome, <strong><%- name %></strong></h4>
          <!-- <h5><%- sid %></h5> -->
        </div>
        <div class="offset-6 col-3">
          <!-- timer -->
          <h3 class="py-2" id="demo"></h3>
        </div>
      </div>
    </div>

    <d<div class="container-fluid question_cont">
      <!-- <hr class="bg-dark" /> -->
      <div class="row py-4">
        <div class="offset-1 col-6 question_area">
          <!-- question area -->
          <div class="form-group my-3">
            <h5>Question <span id="qnum"></span></h5>
            <p class="lead font-weight-light" id="question"></p>
          </div>
          <!-- option area -->

          <div class="custom-control custom-radio">
            <input
              type="radio"
              name="customRadio"
              id="optionA"
              class="custom-control-input"
              value="a"
            />
            <label
              class="custom-control-label"
              for="optionA"
              id="customRadio1"
            ></label>
          </div>
          <div class="custom-control custom-radio">
            <input
              type="radio"
              name="customRadio"
              id="optionB"
              class="custom-control-input"
              value="b"
            />
            <label
              class="custom-control-label"
              for="optionB"
              id="customRadio2"
            ></label>
          </div>
          <div class="custom-control custom-radio">
            <input
              type="radio"
              name="customRadio"
              id="optionC"
              class="custom-control-input"
              value="c"
            />
            <label
              class="custom-control-label"
              for="optionC"
              id="customRadio3"
            ></label>
          </div>
          <div class="custom-control custom-radio mb-3">
            <input
              type="radio"
              name="customRadio"
              id="optionD"
              class="custom-control-input"
              value="d"
            />
            <label
              class="custom-control-label"
              for="optionD"
              id="customRadio4"
            ></label>
          </div>
        </div>
        <!-- question box -->
        <div
          class="offset-1 col-3 offset-1 scroll text-center btn_box"
        >
          <div
            class="btn-toolbar"
            role="toolbar"
            aria-label="Toolbar with button groups"
          >
            <div
              class="btn-group mt-2"
              role="group"
              aria-label="First group"
              id="q_buttons"
            ></div>
          </div>
        </div>
      </div>
    </div>
    <!-- buttons -->
    <div class="container-fluid mt-3">
      <div class="row">
        <div class="col-7 text-center mt-3">
          <button
            class="btn mr-3"
            onclick="decrement_qnum()"
            id="prev"
          >
            Prev
          </button>
          <button
            class="btn btn-dark mr-3"
            onclick="increment_purple()"
            id="mark"
          >
            Mark as Review
          </button>
          <button
            class="btn btn-success mr-5"
            onclick="increment_qnum()"
            id="next"
          >
            Next
          </button>
        </div>
        <div class="col-5 text-center mt-3">
          <button class="btn ml-5" id="submitButton" onclick="submitTest()">
            Submit
          </button>
        </div>
      </div>
    </div>

    <script>
      var prev = document.getElementById("prev");
      var next = document.getElementById("next");
      var counter = 1;
      var num_questions = "<%- num_questions %>";
      var eid = "<%- eid %>";
      var sid = "<%- sid %>";

      var qnum = document.getElementById("qnum");
      qnum.innerHTML = counter;
      prev.disabled = true;
      window.addEventListener("load", function () {
        sessionStorage.setItem("qid_zero", "<%- qid %>");
        getNextQuestion();
      });
      function decrement_qnum() {
        if (qnum.innerHTML > 1) {
          prev.disabled = false;
          next.disabled = false;
          counter = counter - 1;
          qnum.innerHTML = counter;
          // next.disabled=false;
        } else {
          prev.disabled = true;
        }
        getPreviousQuestion();
      }
      async function increment_qnum() {
        if (counter === num_questions - 1) {
          prev.disabled = false;
          next.disabled = true;
          counter = counter + 1;
          qnum.innerHTML = counter;
        } else {
          counter = counter + 1;
          qnum.innerHTML = counter;
          prev.disabled = false;
          next.disabled = false;
        }
        const selectedRadioButton = document.querySelector(
          'input[name="customRadio"]:checked'
        );
        const selectedOption = selectedRadioButton
          ? selectedRadioButton.value
          : "-1";
        if (selectedOption !== "-1") {
          document.getElementsByName("q_buttons")[
            counter - 2
          ].style.backgroundColor = "#5cb85c";
          document.getElementsByName("q_buttons")[counter - 2].style.color =
            "white";
        } else {
          document.getElementsByName("q_buttons")[
            counter - 2
          ].style.backgroundColor = "red";
          document.getElementsByName("q_buttons")[counter - 2].style.color =
            "white";
        }
        let qid = "";
        if (counter === 1) {
          qid = sessionStorage.getItem("qid_zero");
        } else {
          qid = sessionStorage.getItem("next_qid");
        }
        const result = await fetch(`/exam/${eid}/${sid}`, {
          method: "POST",
          body: JSON.stringify({
            qid: qid,
            selectedOption,
            counter: counter - 1,
          }),
          headers: {
            "Content-Type": "application/json",
          },
        })
          .then((res) => res.json())
          .catch((err) => console.log(err.message));
        const next_qid = await getNextQuestion();
        sessionStorage.setItem("next_qid", next_qid);
      }

      async function increment_purple() {
        if (counter === num_questions - 1) {
          prev.disabled = false;
          next.disabled = true;
          counter = counter + 1;
          qnum.innerHTML = counter;
        } else {
          counter = counter + 1;
          qnum.innerHTML = counter;
          prev.disabled = false;
          next.disabled = false;
        }
        const selectedRadioButton = document.querySelector(
          'input[name="customRadio"]:checked'
        );
        const selectedOption = selectedRadioButton
          ? selectedRadioButton.value
          : "-1";
        document.getElementsByName("q_buttons")[
          counter - 2
        ].style.backgroundColor = "#432B69";
        document.getElementsByName("q_buttons")[counter - 2].style.color =
          "white";
        let qid = "";
        if (counter === 1) {
          qid = sessionStorage.getItem("qid_zero");
        } else {
          qid = sessionStorage.getItem("next_qid");
        }
        const result = await fetch(`/exam/${eid}/${sid}`, {
          method: "POST",
          body: JSON.stringify({
            qid: qid,
            selectedOption,
            counter: counter - 1,
          }),
          headers: {
            "Content-Type": "application/json",
          },
        })
          .then((res) => res.json())
          .catch((err) => console.log(err.message));
        const next_qid = await getNextQuestion();
        sessionStorage.setItem("next_qid", next_qid);
      }

      async function getNextQuestion() {
        try {
          console.log("counter=", counter);
          const result = await fetch(`/exam/${eid}/${sid}/${counter}`, {
            method: "GET",
          })
            .then((res) => res.json())
            .catch((err) => console.log(err.message));
          document.getElementById("question").innerText = result.data.name;
          const a = document.getElementsByName("customRadio");
          // console.log("radio buttons", a);
          for (var i = 0; i < 4; ++i) {
            document.getElementById(`customRadio${i + 1}`).innerHTML =
              result.data.options[i];
            a[i].checked = false;
          }
          if (result.selectedOption !== "-1") {
            switch (result.selectedOption) {
              case "a":
                a[0].checked = true;
                break;
              case "b":
                a[1].checked = true;
                break;
              case "c":
                a[2].checked = true;
                break;
              case "d":
                a[3].checked = true;
                break;
              default:
                break;
            }
          }
          return result.data._id;
        } catch (err) {
          console.log(err.message);
        }
      }

      async function getPreviousQuestion() {
        try {
          const result = await fetch(`/exam/${eid}/${sid}/${counter}`, {
            method: "GET",
          })
            .then((res) => res.json())
            .catch((err) => console.log(err.message));
          document.getElementById("question").innerText = result.data.name;
          const a = document.getElementsByName("customRadio");
          // console.log("radio buttons", a);
          console.log("selectedOption", result.selectedOption);
          for (var i = 0; i < 4; ++i) {
            document.getElementById(`customRadio${i + 1}`).innerHTML =
              result.data.options[i];
            a[i].checked = false;
          }
          if (result.selectedOption !== "-1") {
            switch (result.selectedOption) {
              case "a":
                a[0].checked = true;
                break;
              case "b":
                a[1].checked = true;
                break;
              case "c":
                a[2].checked = true;
                break;
              case "d":
                a[3].checked = true;
                break;
              default:
                break;
            }
          }
          return result.data._id;
        } catch (err) {
          console.log(err.message);
        }
      }

      async function submitTest() {
        if (
          confirm(
            "Do you want to finish the test? Your progress will be saved."
          )
        ) {
          const selectedRadioButton = document.querySelector(
            'input[name="customRadio"]:checked'
          );
          const selectedOption = selectedRadioButton
            ? selectedRadioButton.value
            : "-1";
          if (selectedOption !== "-1") {
            document.getElementsByName("q_buttons")[
              counter - 1
            ].style.backgroundColor = "#5cb85c";
            document.getElementsByName("q_buttons")[counter - 1].style.color =
              "white";
          }
          console.log("selected option submitTest(): ", selectedOption);
          let qid = "";
          if (counter === 1) {
            qid = sessionStorage.getItem("qid_zero");
          } else {
            qid = sessionStorage.getItem("next_qid");
          }
          const result = await fetch(`/exam/submit/${eid}/${sid}`, {
            method: "POST",
            body: JSON.stringify({
              qid: qid,
              selectedOption,
              counter: counter,
            }),
            headers: {
              "Content-Type": "application/json",
            },
          })
            .then((res) => res.json())
            .catch((err) => console.log(err.message));
          // window.location.href = "/exam/"+eid+"/"+sid+"/getResult";
          alert(result.message);
          window.location.href = "/student/home";
        }
      }

      window.addEventListener('beforeunload', () => {
        if (confirm("Are you sure you want to leave this page?")) {
          document.getElementById("submitButton").click();
        }
      })

      // ----------------------- QUESTION BUTTONS LOGIC ---------------------
      var q_button = document.getElementById("q_buttons");
      for (var i = 0; i < num_questions; ++i) {
        q_button.innerHTML += `<button class="button button5" name="q_buttons">${
          i + 1
        }</button>`;
      }
      const questionButtons = document.getElementsByName("q_buttons");
      for (var i = 0; i < num_questions; ++i) {
        questionButtons[i].addEventListener("click", async (event) => {
          try {
            // to be done
            if (event.target.innerHTML === num_questions) {
              document.getElementById("next").disabled = true;
            } else {
              document.getElementById("next").disabled = false;
            }
            counter = parseInt(event.target.innerHTML);
            const result = await fetch(
              `/exam/${eid}/${sid}/${event.target.innerHTML}`,
              {
                method: "GET",
              }
              )
              .then((res) => res.json())
              .catch((err) => console.log(err.message));
              document.getElementById("question").innerText = result.data.name;
              document.getElementById("qnum").innerHTML = event.target.innerHTML;
              const a = document.getElementsByName("customRadio");
              for (var i = 0; i < 4; ++i) {
                document.getElementById(`customRadio${i + 1}`).innerHTML =
                result.data.options[i];
                a[i].checked = false;
              }
              if (result.selectedOption !== "-1") {
                switch (result.selectedOption) {
                case "a":
                  a[0].checked = true;
                  break;
                  case "b":
                    a[1].checked = true;
                    break;
                    case "c":
                      a[2].checked = true;
                      break;
                      case "d":
                  a[3].checked = true;
                  break;
                  default:
                    break;
              }
            }
          } catch (err) {
            console.log(err.message);
          }
        });
      }

      // --------------------------------- TIMER LOGIC ---------------------


      // var countDownDate = new Date("Apr 11, 2021 20:57:00").getTime();
      var duration_hrs = <%- duration_hrs %>
      var duration_min = <%- duration_min %>
      var duration_sec = <%- duration_sec %>

      // new Date().now()
      // new Date() -> 01/01/1970

      let expiryDate = new Date(new Date().getTime() + duration_hrs*60*60*1000 + duration_min*60*1000 + duration_sec*1000);
      console.log(expiryDate);
      // Update the count down every 1 second
      var x = setInterval(function () {
        // Get today's date and time
        var now = new Date().getTime();

        // Find the distance between now and the count down date
        var distance = expiryDate - now;
        //   console.log(distance);

        // Time calculations for hours, minutes and seconds
        var hours = Math.floor(
          (distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
        );
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        document.getElementById("demo").innerHTML =
          hours + "h " + minutes + "m " + seconds + "s ";

        // Display the result in the element with id="demo"

        // If the count down is finished, write some text
        if (distance < 0) {
          clearInterval(x);
          document.getElementById("demo").innerHTML = "EXPIRED";
        }
      }, 1000);

      var c=0;
      window.addEventListener("blur", (event)=>{
        c++;
        if(c==1){
          alert("WARNING:You have navigated outside of the test window!!")
        }
        else if(c==2){
          alert("WARNING:If you leave the test window again your test will be automatically submitted!!! doraisos?")
        }
        else{
          // console.log("inactive");
          alert("oversmart tor teh beshi ami bujjhos ni chandu??")
          autoSubmitTest();
        }
        
      })
      async function autoSubmitTest() {
        const selectedRadioButton = document.querySelector(
          'input[name="customRadio"]:checked'
        );
        const selectedOption = selectedRadioButton
          ? selectedRadioButton.value
          : "-1";
        if (selectedOption !== "-1") {
          document.getElementsByName("q_buttons")[
            counter - 1
          ].style.backgroundColor = "#5cb85c";
          document.getElementsByName("q_buttons")[counter - 1].style.color =
            "white";
        }
        console.log("selected option submitTest(): ", selectedOption);
        let qid = "";
        if (counter === 1) {
          qid = sessionStorage.getItem("qid_zero");
        } else {
          qid = sessionStorage.getItem("next_qid");
        }
        const result = await fetch(`/exam/submit/${eid}/${sid}`, {
          method: "POST",
          body: JSON.stringify({
            qid: qid,
            selectedOption,
            counter: counter,
          }),
          headers: {
            "Content-Type": "application/json",
          },
        })
          .then((res) => res.json())
          .catch((err) => console.log(err.message));
        // window.location.href = "/exam/"+eid+"/"+sid+"/getResult";
        alert(result.message);
        window.location.href = "/student/home";
    }
    </script>
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
