<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"
    integrity="sha512-P5MgMn1jBN01asBgU0z60Qk4QxiXo86+wlFahKrsQf37c9cro517WzVSPPV1tDKzhku2iJ2FVgL67wG03SGnNA=="
    crossorigin="anonymous" />
  <link rel="stylesheet" href="/stylesheets/studentDashboard.css">
  <title>
    <%- title %>
  </title>
</head>

<body>
  <!-- loop over fields array -->
  <!-- thead -> all the elements -->
  <!-- loop over exams -->
  <!-- loop over exams[i]['exam_details'] -->
  <!-- tbody -> all the values -->
  <div class="container mt-3 text-center table_head">
    <p><strong>Name: <em>
          <%- teacher_name %>
        </em></strong></p>
    <!-- <p><strong>Name: <em>
          Teacher_Name
        </em></strong></p> -->
    <p> <strong>id: <em>
          <%- teacher_id %>
        </em></strong></p>
  </div>

  <div class="container pt-3 my-5 text-center exam_table">
    <h3>UPCOMING EXAMS</h3>
    <table class="table">
      <thead class="thead">
        <tr>
          <th>S.No</th>
          <% for(var i=0; i < fields.length-1; ++i) { %>
            <th scope="col">
              <%- fields[i] %>
            </th>
            <% } %>
        </tr>
      </thead>
      <tbody>
        <% for(var i=0; i < examData.length; ++i) { %>
          <tr>
            <td>
              <%- i+1 %>
            </td>
            <% for (var j=0; j < (examData[i].exam).length-1; ++j) { %>
              <td>
                <%- (examData[i].exam)[j] %>
              </td>
              <% } %>
          </tr>
          <% } %>
      </tbody>
    </table>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
    crossorigin="anonymous"></script>
</body>

</html>